<h1>Seller Details </h1>

<%# @sellers.each  do  |seller| %>

<!-- </p> -->
 <!-- <strong>Name :</strong> -->
	<%#= seller.name %>
<!-- <p> -->




<h2><%= @seller.personal_email %></h2>
<h2><%= @seller.aadhar_no %></h2>
<h2><%= @seller.contact_no%></h2>
<h2><%= @seller.pincode %></h2>
<h2><%= @seller.city %></h2>
<h2><%= @seller.state %></h2>
<h2><%= @seller.country %></h2>
<h2><%= @seller.address %></h2>

<%# end %>