       
<div class="container-fluid">

	<div class="row row-cols-5">

<%# product.each do |product| %>

<%#= Product.category_types %>
<%# @category_type.each do |category| %>

<% @category_with_product.each do |category , category_product| %>
	<div>
		<p class="fs-3" style="text-align: center;"><%= category %></p>
 	<% category_product.each do |product| %>

  <div class= "col">
	 <div  class="card" style="width: 20rem; ">
  		
  		<div class="card-body">
    	<h5 class="card-title" style="font-weight: bold;">Product</h5>
    	
       <p class="card-text">
  
      <div style="text-align: left;">
			    <h6>Product Name : <%= product.name %></h6>
					<h6>Product Type : <%= product.soap_type %></h6>	
					<h6>Product Mfg-date : <%= product.mfg_date %></h6>
					<h6>Product Exp-date : <%= product.exp_date %></h6>
					<h6>Product Category : <%= product.category_type %></h6>
					<% if product.photo.attached? %>
			 		<h6><%= image_tag  product.photo %></h6>
					
					<% end %>

					<% if can? :read ,product %>
					<%= link_to "view",  product_path(product) , class:"btn btn-warning" %>
					<% end %>

					<% if can? :create ,product %>
					<%= link_to "new", new_product_path ,class:"btn btn-warning" %>
					<% end %>

					<% if can? :update ,product %>
					<%= link_to "edit",   edit_product_path(product) , class:"btn btn-warning"%>
					<% end %>

					<% if can? :destroy,product %>
		       <%= link_to 'delete', product,
		              :method => :delete,
		              :confirm => "are you sure?", 
		              class: "btn btn-warning" %>
		    
		       <% end %>

       </div>
    		</p>
    	   
   
  		</div>
     </div>
     <br>

		</div>

 <% end %>
</div>
<%end %>
	</div>
</div>

























