
<div class='container-fluid mt-0px',> 
 <div class="card" style="width:335px;">

  <div class="card-body">
    <h5 class="card-title">Product details</h5>
    <p class="card-text">
  	
    <h5>Product Name :<%= @product.name %></h5>

    <h5>Product Type : <%= @product.soap_type %></h5>
    <h5>Product Mfg-date :<%= @product.mfg_date%></h5>
    <h5>Product Exp-date : <%= @product.exp_date %></h5>
    <h5>Product Category :<%= @product.category_type %></h5>

    <% if @product.photo.attached? %>
    <h5><%= image_tag  @product.photo %></h5>
    <% end %>


  </div>
</div>
</div>